{% extends "base.html" %}

{% block content %}

  <h1>Enrolled Courses</h1>
{% if enrolled_courses %}
  <ul>
    {% for enrollment in enrolled_courses %}
      <li>
        {% if enrollment.lesson.id %}
          {{ enrollment.user }} enrolled in <a href="{% url 'lesson_detail' enrollment.lesson.id %}">{{ enrollment.lesson | safe }}</a> on {{ enrollment.date_enrolled }}
        {% else %}
          {{ enrollment.user }} enrolled in {{ enrollment.lesson | safe }} on {{ enrollment.date_enrolled }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You have not enrolled in any courses yet.</p>
{% endif %}
<a href="{% url 'add_lesson' %}" class="btn btn-primary">Enroll in additional courses and quizzes</a>
{% endblock %}